.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}