.panel {
    display: flex;
    width: 75vw;
    justify-content: space-around;
    background-color: white;
    height: 8vh;
    margin-bottom: 2rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 7px 10px #d3d3d3;
}

.panel button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 3px 10px #d3d3d3;
    transition: background-color 0.3s ease;
}

.panel > button:active {
    background-color: white !important;
}

.panel button:nth-child(1) {
    background-color: red;   
}

.panel button:nth-child(2) {
    background-color: yellow;
}

.panel button:nth-child(3) {
    color: white;
    background-color: black;
}

.panel button:nth-child(4) {
    color: white;
    background-color: purple;
}

.panel button:nth-child(5) {
    background-color: green;
}

.panel button:nth-child(6) {
    color: white;
    background-color: blue;
}

.panel button:nth-child(7) {
    background-color: orange;
}